In [2]:
import pandas as pd

In [13]:
df_08 = pd.read_csv("data_08_v1.csv") 
df_18 = pd.read_csv("data_18_v1.csv")

For consistency, only compare cars certified by California standards.

In [4]:
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [6]:
df_08 = df_08[df_08['cert_region']=="CA"]

In [8]:
df_18 = df_18[df_18['cert_region']=="CA"]

In [9]:
df_08.shape

(1084, 14)

Then drop cert_region as it it becomes uselss

In [10]:
df_08.drop("cert_region",inplace =True,axis=1)
df_18.drop("cert_region",inplace =True,axis=1)

In [11]:
df_08.shape

(1084, 13)

In [12]:
df_18.shape

(798, 13)