In [21]:
import pandas as pd

In [22]:
df_08 = pd.read_csv("data_08_v1.csv") 
df_18 = pd.read_csv("data_18_v1.csv")

For consistency, only compare cars certified by California standards.

In [23]:
df_08.shape

(2404, 14)

In [24]:
df_18.shape

(1611, 14)

In [25]:
df_08 = df_08[df_08['cert_region']=="CA"]

In [26]:
df_18 = df_18[df_18['cert_region']=="CA"]

In [27]:
df_08.shape

(1084, 14)

Then drop cert_region as it it becomes uselss

In [28]:
df_08.drop("cert_region",inplace =True,axis=1)
df_18.drop("cert_region",inplace =True,axis=1)

In [29]:
df_08.shape

(1084, 13)

In [30]:
df_18.shape

(798, 13)

# Drop Rows with Missing Values

In [34]:
#view missing value count for each feature in 2008
df_08.isnull().any(axis=1).sum()

75

In [35]:
#view missing value count for each feature in 2018
df_18.isnull().any(axis=1).sum()

1

In [36]:
# drop rows with any null values in both datasets
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [37]:
df_08.shape

(1009, 13)

In [38]:
df_18.shape

(797, 13)